{% extends 'baseUser.html' %}
{% load static %}

{% block content %}


<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css'
    type='text/css' />

<style>
    .mapboxgl-ctrl-logo {
        display: none !important;
    }
</style>


<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Manage Your Cart</h1>
            </div>
        </div>
    </div>
</section>

{% if cartitemcount != 0 %}
<script src="https://use.fontawesome.com/c560c025cf.js"></script>

<form id="checkoutform" method="post" role="form" enctype="multipart/form-data">
    {% csrf_token %}
    <section id="cart">
        <div class="container">
            <h1>{{ kitchen.kitName }}</h1>
            <div class="card items">
                <div class="card-header bg-dark text-light">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Food Cart
                    <div class="clearfix"></div>
                </div>
                <div class="card-body">
    
                    {% for item in items %}
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                            <img class="img-responsive" src="{{item.0.url}}" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-4">
                            <h4 class="product-name"><strong>{{item.1}}</strong></h4>
                            <h4>
                                <small>{{item.2}}</small>
                            </h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-6 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-3 text-md-right" style="padding-top: 5px">
                                <h7>&#8377; {{item.3}} <span class="text-muted">x</span></h7>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button id="down" type="button" class="btn btn-outline-success" onclick="
                                    if(document.querySelector('#quantity{{item.6}}').innerHTML>0){
                                        if(document.querySelector('#quantity{{item.6}}').innerHTML=={{item.7}}){
                                        handlecounter('{{item.6}}', parseInt(document.querySelector('#quantity{{item.6}}').innerHTML)-{{item.7}});
                                        }
                                        else {
                                        handlecounter('{{item.6}}', parseInt(document.querySelector('#quantity{{item.6}}').innerHTML)-1);
                                        }
                                    }"><span class="icon-minus"></span></button>
                                    <button type="button" class="btn btn-default" disabled><span id='quantity{{item.6}}'
                                            name='quantity{{item.6}}'> {{item.4}}
                                        </span></button>
                                    <button id="up" type="button" class="btn btn-outline-success" onclick="
                                    if(document.querySelector('#quantity{{item.6}}').innerHTML==0 && {{item.7}}>0){
                                        handlecounter('{{item.6}}', parseInt(document.querySelector('#quantity{{item.6}}').innerHTML)+{{item.7}});
                                    }
                                    else {
                                        handlecounter('{{item.6}}', parseInt(document.querySelector('#quantity{{item.6}}').innerHTML)+1);
                                    }
                                    "><span class="icon-plus"></span></button>
                                </div>
                            </div>
                            <div class="col-3 col-sm-3 col-md-3 text-md-right" style="padding-top: 5px">
                                <h6><strong><span class="text-muted">=  </span>&#8377; {{item.5}} </strong></h6>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button type="button" class="btn btn-outline-danger btn-xs"
                                    onclick="handledelete('{{item.6}}');">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <div class="col-md-5 col-sm-5 no-padding-left pull-left">
                        <div class="row">
                            <input type="text" class="form-control" name="message" id="message" size="200" placeholder="Any other Request to the Kitchen">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if kitchen.mode == "Delivery" %}
                    <div class="pull-left" style="margin: 10px" id="modedropdown">
                        <label for="mode">Select mode :</label>
                        <select name="mode" id="mode" onchange="modeChange(value);">
                            <option value="Delivery" {% if modeSelected == "Delivery" %}selected{% endif %}>Delivery</option>
                            <option value="PickUp" {% if modeSelected == "PickUp" %}selected{% endif %}>Pick Up</option>
                        </select>
                    </div>
                    {% endif %}
                </div>
            </div>
            <script type="text/javascript">
                function handlecounter(id, quant) {
                    document.getElementById('quantity' + id).innerHTML = quant;
                    document.cookie = id + "=" + quant + ";Path=/";
                    document.cookie = "kit={{kitchen.id}};Path=/";
                    $("#checkoutform").load(" #checkoutform > *");
                }
                function handledelete(id) {
                    document.cookie.split(";").forEach(function (c) {
                        var key = c.replace(/^ +/, "").split("=")[0]
                        if (key == id) {
                            document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
                        }
                    });
                    $("#checkoutform").load(" #checkoutform > *");
                }
                function modeChange(value) {
                    document.cookie = "modeSelected=" + value + ";Path=/";
                    $("#checkoutform").load(" #checkoutform > *");
                }
                function advOrderHandle(value) {
                    document.cookie = "advanceOrder=" + value.checked + ";Path=/";
                    $("#checkoutform").load(" #checkoutform > *");
                }
            </script>
        
            <div class="row">
                {% if user.is_authenticated %}
                <div class="card address" id="address">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Choose your Address
                        <a href="" class="btn btn-outline-info btn-sm pull-right" data-toggle="modal"
                            data-target="#addressmodal">Add New Address</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="card-body">
                        {% if addresses %}
                            {% for add in addresses %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="address" id="{{add.id}}"
                                            value="{{add.id}}" {% if add.place == addresses.0.place %} checked {% endif %}>
                                        &nbsp;&nbsp;
                                        <label class="form-check-label" for="exampleRadios1">
                                            <h4>{{add.place}} : </h4>
                                        </label>&nbsp;
                                        <medium>{{add.address}},</medium>&nbsp;
                                        <medium>Floor No. : {{add.floorNo}}</medium>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            Please add some Address before checkout.
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <div class="pull-left" style="margin: 10px" id="payment">
                            {% if kitchen.acceptAdvcOrders %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="advanceOrder" {% if advanceOrder %}checked{% endif %} onclick="advOrderHandle(this);">
                                <label class="form-check-label" for="advanceOrder">Place Advance Order</label>
                            </div>
                            </br>
                            {% if advanceOrder %}
                            <div id="scheduledOrder">
                                <label for="scheduledorder">Schedule your Order :</label>
                                <input type="datetime-local" id="scheduledorder" name="scheduledorder" min="{{mindate}}" max="{{maxdate}}">
                            </div>
                            {% endif%}
                            {% endif%}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card address">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Choose Delivery Address
                        <div class="clearfix"></div>
                    </div>
                    <div class="card-body">
                        <div class="meta">
                            <div><a style="font-size:30px;">Please Sign in first to Complete your Order.</a></div>
                        </div>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
                {% endif %}

                <div class="card bill" id="bill">
                    <div class="card-header bg-dark text-light">
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                         Billing Details
                    </div>
                    <div class="card-body">
                        {% if coupDiscount > 0 %}
                        <div class="row container">
                            <input hidden id="couponId" name="couponId" value="{{selectedCoupon.id}}">
                            Coupon Applied: &nbsp;<b>{{selectedCoupon.code}}</b>
                            <div class="applybutton">
                                <button type="button" class="btn btn-outline-dark" onclick="removeCoupon()">Remove</button>
                            </div>
                        </div>
                        {% else %}
                        <a href="#couponModal" data-toggle="modal">Apply Coupons?</a>
                        {% endif %}
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless mb-0">
                                <tbody>
                                    <tr id="subtotal">
                                        <td class="pl-0 w-90" scope="row">Sub Total:</td>
                                        <td>&#8377;{{subtotal}}</td>
                                    </tr>
                                    {% if kitDiscount > 0 %}
                                    <tr id="kitDiscount">
                                        <td class="pl-0 w-90" scope="row">Kitchen Discount:</td>
                                        <td>- &#8377;{{kitDiscount}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if coupDiscount > 0 %}
                                    <tr>
                                        <input hidden id="coupDiscount" name="coupDiscount" value="{{coupDiscount}}">
                                        <td class="pl-0 w-90" scope="row">Coupon Discount:</td>
                                        <td>- &#8377;{{coupDiscount}}</td>
                                    </tr>
                                    {% endif %}
                                    {% if modeSelected == "Delivery" %}
                                    <tr id="deliverycharge">
                                        <td class="pl-0 w-90" scope="row">Delivery Charges:</td>
                                        <td>&#8377;{{kitchen.deliveryCharge}}</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <input hidden id="total" name="total" value="{{total}}">
                                        <th class="pl-0 w-90" scope="row"><h5><b>Total Amount:</b></h5></th>
                                        <td><h5><b>&#8377;{{total}}</b></h5></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="pull-left" style="margin: 10px" id="payment">
                            <b>Payment Options :</b><br>
                            {% if kitchen.wantAdvancePayment %}
                            You need to pay the whole amount in advance for this Kitchen.
                            <input class="form-check-input" type="radio" name="paymentOption" id="payadvance" value="Advance Payment" checked hidden>
                            {% else %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentOption" id="payadvance" value="Advance Payment" checked>
                                <label class="form-check-label" for="payadvance">
                                    Pay Online
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="paymentOption" id="cod" value="COD">
                                <label class="form-check-label" for="cod">
                                    Cash On Delivery
                                </label>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" value="deliveryorder" class="submit-form btn btn-success btn-block" {% if not addresses %} disabled {% endif %}>Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
<style>
    .items{
        width: 100%;
    }
    .address {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
        margin-left: 14px;
        width: 55%;
    }
    .bill {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 39%;
    }
</style>


<!-- coupon modal -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Apply Coupons</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {% if kitCoupons %}
            {% for coupon in kitCoupons %}
            <div class="container row">
                {% if coupon.user == None %}
                <div class="red pt-3 px-3 mb-2">
                    <div class="d-flex flex-row justify-content-center text-align-center">
                        <p><span>{{coupon.code}}</span></p>
                    </div>
                </div>
                {% else %}
                <div class="yellow pt-3 px-3 mb-2">
                    <div class="d-flex flex-row justify-content-center text-align-center">
                        <p><span>{{coupon.code}}</span></p>
                    </div>
                </div>
                {% endif %}
                <div class="discount">
                    <b>{{coupon.discount}}% off</b><br>
                    (Max : &#8377;{{coupon.maxDiscount}})
                </div>
                <div class="applybutton">
                    <button type="button" class="btn btn-outline-success" onclick="addCoupon('{{coupon.id}}')">Apply</button>
                </div>
            </div>
            <b>Valid Till : </b>{{coupon.validTill.date}}
            <div class="text-muted">
                <p>{{coupon.description}}</p>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            (No Coupons Available)
            {% endif %}
        </div>
      </div>
    </div>
</div>
<script>
    function addCoupon(couponId) {
        document.cookie = "couponId=" + couponId + ";Path=/";
        $("#checkoutform").load(" #checkoutform > *");
        $("#couponModal").modal("hide");
    }
    function removeCoupon(){
        document.cookie.split(";").forEach(function (c) {
            var key = c.replace(/^ +/, "").split("=")[0]
            if (key == "couponId") {
                document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
            }
        });
        $("#checkoutform").load(" #checkoutform > *");
    }
    
</script>
<style>
    .yellow {
        background:rgb(255, 245, 129);
        width: 30%;
    }
    .red {
        background:rgb(238, 101, 67);
        width: 30%;
    }
    .discount{
        margin-left: 5%;
    }
    .applybutton{
        margin-left: auto;
    }
</style>


<!-- address modal -->
<div class="modal fade" id="addressmodal" tabindex="-1" role="dialog" aria-labelledby="addressmodalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form role="form" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="map" style="width: auto; height: 200px"></div>
                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoiamFpbnNodWJoYW0iLCJhIjoiY2tkcG5lYzgyMjNteTMwbXIzYjkxaWtjayJ9.mV7uussgvFw4MXHVyMkIBg';
                        var marker1 = new mapboxgl.Marker({ "color": "#b40219", draggable: true })
                        var marker2 = new mapboxgl.Marker({ "color": "#b40219", draggable: true })
                        var marker3 = new mapboxgl.Marker({ "color": "#b40219", draggable: true })

                        var map = new mapboxgl.Map({
                            container: 'map', // container id
                            style: 'mapbox://styles/mapbox/streets-v11',
                            center: [77.2230, 28.5086], // starting position
                            zoom: 6, // starting zoom
                            attributionControl: false
                        });

                        //search location
                        var geocoder = new MapboxGeocoder({ // Initialize the geocoder
                            accessToken: mapboxgl.accessToken, // Set the access token
                            mapboxgl: mapboxgl, // Set the mapbox-gl instance
                            marker: false, // Do not use the default marker style
                            placeholder: 'Search for places', // Placeholder text for the search bar
                            // bbox: [-122.30937, 37.84214, -122.23715, 37.89838], // Boundary for Berkeley
                            proximity: {
                                longitude: 77.2230,
                                latitude: 28.5086
                            } // Coordinates of UC Berkeley
                        });

                        // Add the geocoder to the map
                        map.addControl(geocoder);

                        //point the searched location
                        map.on('load', function () {
                            geocoder.on('result', function (ev) {
                                marker1.remove();
                                marker3.remove();
                                marker2.setLngLat([ev.result.geometry.coordinates[0], ev.result.geometry.coordinates[1]])
                                    .addTo(map);

                                function onDragEnd() {
                                    var lngLat = marker2.getLngLat();
                                    document.getElementById('lon').value = lngLat.lng;
                                    document.getElementById('lat').value = lngLat.lat;
                                }

                                marker2.on('dragend', onDragEnd);
                            });
                        });

                        // Full Screen
                        map.addControl(new mapboxgl.FullscreenControl());

                        // Add geolocate control to the map.
                        var geolocate = new mapboxgl.GeolocateControl
                                ({
                                    positionOptions: {
                                        enableHighAccuracy: true,
                                        watchPosition: true
                                    },
                                    trackUserLocation: false,
                                    showUserLocation: false,
                                })
                        map.addControl(geolocate);
                        
                        // Listen to geolocate control
                        geolocate.on('geolocate', function (ev) {
                            marker1.remove();
                            marker2.remove();
                            marker3.setLngLat([ev.coords.longitude, ev.coords.latitude])
                                .addTo(map);

                            function onDragEnd() {
                                var lngLat = marker3.getLngLat();
                                document.getElementById('lon').value = lngLat.lng;
                                document.getElementById('lat').value = lngLat.lat;
                            }

                            marker3.on('dragend', onDragEnd);
                        });

                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(position => {
                                document.getElementById('lon').value = position.coords.longitude;
                                document.getElementById('lat').value = position.coords.latitude;
                                marker3.remove();
                                marker2.remove();
                                marker1.setLngLat([position.coords.longitude, position.coords.latitude])
                                    .addTo(map);

                                function onDragEnd() {
                                    var lngLat = marker1.getLngLat();
                                    document.getElementById('lon').value = lngLat.lng;
                                    document.getElementById('lat').value = lngLat.lat;
                                }

                                marker1.on('dragend', onDragEnd);

                            });
                        }

                    </script>
                    <div class="row">
                        {{ addressform.latitude }}
                        {{ addressform.longitude }}
                        <div class="col-12">
                            <label class="col">Full Address :</label>
                            {{ addressform.address }}
                        </div>
                        <div class="col-6 col-12-medium">
                            <label class="col">Floor No. :</label>
                            {{ addressform.floorNo }}
                        </div>
                        <div class="col-6 col-12-medium">
                            <label class="col">Name of Place :</label>
                            {{ addressform.place }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value="saveAddDetails" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .shopping-cart {
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>

{% else %}
<div class="meta">
    <div><a style="font-size:30px;">Add Items to your Cart.</a></div>
</div>
{% endif %}

<!-- LOADER -->
<div id="loading">
    <img id="loading-image" src="{% static 'gifs/ajax-loader.gif' %}" alt="Loading..." />
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
<style>
    #loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    }

    #loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    }
</style>
<script>
    $(window).on('load', function(){
        $('#loading').hide();
        $(".progress-bar").animate({
            width: "100%"
        }, 60000);
    });
</script>

{% if user.is_authenticated %}
	{% include "websocket.html" %}
{% endif %}

{% endblock %}