{% extends 'baseUser.html' %}
{% load static %}

{% block content %}

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Contact Us</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section bg-light">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4 font-weight-bold">In case of any query related to business or existing Kitchen with us, contact below:</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span><b>Address:</b></span> {{address}} </p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span><b>Phone:</b></span> {{phone}} </p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="dbox">
                    <p><span><b>Email:</b></span> {{email}} </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
    <div class="container">
        <div class="row d-flex align-items-stretch no-gutters">
            <div class="col-md-6 p-5 order-md-last">
                <h2 class="h4 mb-5 font-weight-bold">For any Complaints or Suggestions, submit your query here:</h2>
                {% if formSubmitted %}
                    <span class="text-success large">* Response submitted Successfully.</span>
                {% endif %}
                <p class="form-text text-muted">Our Team will revert you within 24 hours.</p>
                <form method="post" disabled>
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Full Name *" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email *" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobile Number (Optional)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject *" required>
                    </div>
                    <div class="form-group">
                        <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Message *" required></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="btn btn-primary py-3 px-5" {% if formSubmitted %}disabled{% endif %}>
                    </div>
                </form>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div id="map"></div>
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiamFpbnNodWJoYW0iLCJhIjoiY2tkcG5lYzgyMjNteTMwbXIzYjkxaWtjayJ9.mV7uussgvFw4MXHVyMkIBg';
                    var marker1 = new mapboxgl.Marker({ "color": "#b40219" })
      
                    var map = new mapboxgl.Map({
                      container: 'map', // container id
                      style: 'mapbox://styles/mapbox/streets-v11',
                      center: [{{ lon }}, {{ lat }}], // starting position
                      zoom: 14, // starting zoom
                      attributionControl: false,
                      });
      
                    //for full screen
                    map.addControl(new mapboxgl.FullscreenControl());
      
                    // Add geolocate control to the map.
                    var geolocate = new mapboxgl.GeolocateControl
                      ({
                        positionOptions: {
                          enableHighAccuracy: true,
                          watchPosition: true
                        },
                        trackUserLocation: false,
                        showUserLocation: true,
                      })
                    map.addControl(geolocate);
      
                    // Listen to geolocate control
                    geolocate.on('geolocate', function (ev) {
                      marker1.setLngLat([ev.coords.longitude, ev.coords.latitude])
                        .addTo(map);
                    });
      
                    new mapboxgl.Marker()
                      .setLngLat([{{ lon }}, {{ lat }}])
                      .addTo(map);
                </script>
            </div>
        </div>
    </div>
</section>

{% endblock %}