{% extends 'base.html' %}
{% load static %}

{% block content %}

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
<style>
	body {
		margin: 0;
		padding: 0;
	}

	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.mapboxgl-ctrl-logo {
		display: none !important;
	}


	.mapboxgl-popup {
		max-width: 100px;
	}

	.mapboxgl-popup-content {
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		color: black;
	}
</style>

<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light ftco-navbar-light-2" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="/">Zingy</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
			aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>
		{% if user.is_authenticated %}
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
				<li class="nav-item"><a href="{% url 'orders' %}" class="nav-link">Orders</a></li>
				<!-- <li class="nav-item"><a href="/menu" class="nav-link">Specialties</a></li>
				<li class="nav-item"><a href="/reservation" class="nav-link">Reservation</a></li>
				<li class="nav-item"><a href="/blog" class="nav-link">Stories</a></li>
				 <li class="nav-item"><a href="#custLogin" data-toggle="modal" class="nav-link">Contact</a></li>  -->
			</ul>
		</div>
		<h4>{{ user.first_name }}</h4>
		{% else %}
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="" class="nav-link" data-toggle="modal" data-target="#login">Login</a></li>
				<li class="nav-item"><a href="/kitLogin" class="nav-link">Chef Login</a></li>
				<!-- <li class="nav-item"><a href="/menu" class="nav-link">Specialties</a></li>
				<li class="nav-item"><a href="/reservation" class="nav-link">Reservation</a></li>
				<li class="nav-item"><a href="/blog" class="nav-link">Stories</a></li>
				 <li class="nav-item"><a href="#custLogin" data-toggle="modal" class="nav-link">Contact</a></li>  -->
			</ul>
		</div>
		{% endif %}
	</div>
</nav>

<section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container-fluid">
		<div class="row d-flex">
			<div class="col-md-5 ftco-animate img img-1">
				<div id="map"></div>
				<script>
					mapboxgl.accessToken = 'pk.eyJ1IjoiamFpbnNodWJoYW0iLCJhIjoiY2tkcG5lYzgyMjNteTMwbXIzYjkxaWtjayJ9.mV7uussgvFw4MXHVyMkIBg';

					var map = new mapboxgl.Map({
						container: 'map', // container id
						style: 'mapbox://styles/mapbox/streets-v11',
						center: [77.2230, 28.5086], // starting position
						zoom: 8, // starting zoom
						attributionControl: false,
					});

					//for full screen
					map.addControl(new mapboxgl.FullscreenControl());

					// Add geolocate control to the map.
					map.addControl(
						new mapboxgl.GeolocateControl(
							{
								positionOptions: {
									enableHighAccuracy: true
								},
								trackUserLocation: true,
								showUserLocation: false,
							})
					);

					//get the coordinates
					if (navigator.geolocation) {
						navigator.geolocation.getCurrentPosition(position => {
							document.cookie = "lon=" + position.coords.longitude + ";Path=/";
							document.cookie = "lat=" + position.coords.latitude + ";Path=/";
							var marker = new mapboxgl.Marker({
								draggable: true
							})
								.setLngLat([position.coords.longitude, position.coords.latitude])
								.addTo(map);

							function onDragEnd() {
								var lngLat = marker.getLngLat();
								document.cookie = "lon=" + lngLat.lng + ";Path=/";
								document.cookie = "lat=" + lngLat.lat + ";Path=/";
							}

							marker.on('dragend', onDragEnd);

						});
					}

					{% for shop in kit_object %}
					// create the popup
					var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
						'<b>{{ shop.kitName }}</b>'+
						'<a href="{% url 'menu' shop.id %}" class="block-20" style="background-image: url({{shop.dp.url}}); width:100px; height:100px;">'
					);

					new mapboxgl.Marker()
						.setLngLat([{{ shop.longitude }}, {{ shop.latitude }}])
						.setPopup(popup) // sets a popup on this marker
						.addTo(map);
					{% endfor %}
				</script>
			</div>
			<div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
				<div class="heading-section ftco-animate mb-5">
					<h1 class="mb-4">We Love <br> Delicious Hygienic Foods</h1>
					<h2 class="mb-4">Make Reservation</h2>
				</div>
				<form action="/kitchens/" method="POST">
					{% csrf_token %}
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Name</label>
								<input type="text" class="form-control" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Email</label>
								<input type="text" class="form-control" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Phone</label>
								<input type="text" class="form-control" placeholder="Phone">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Phone</label>
								<input type="text" class="form-control" id="book_date" placeholder="Date">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Time</label>
								<input type="text" class="form-control" id="book_time" placeholder="Time">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Person</label>
								<div class="select-wrap one-third">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Person</option>
										<option value="">1</option>
										<option value="">2</option>
										<option value="">3</option>
										<option value="">4+</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 mt-3">
							<div class="form-group">
								<input type="submit" value="Order Food" class="btn btn-primary py-3 px-5">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<!-- <section class="home-slider js-fullheight owl-carousel bg-white">
	<div class="slider-item js-fullheight">
		<div class="overlay"></div>
		<div class="container-fluid p-0">
			<div class="row d-flex no-gutters slider-text js-fullheight align-items-center justify-content-end" data-scrollax-parent="true">
				<div class="one-third order-md-last img js-fullheight" style="background-image:url({% static 'images/bg_2.jpg' %});">
					<div class="overlay"></div>
				</div>
				<div class="one-forth d-flex js-fullheight align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text mt-md-5">
						<h1 class="mb-4">We Love <br> Delicious Hygienic Foods</h1>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>
						<div class="thumb mt-4 mb-3 d-flex">
							<a href="#" class="thumb-menu pr-md-4 text-center">
								<div class="img" style="background-image: url({% static 'images/menu-1.jpg' %});"></div>
								<h4>Australian Organic Beef</h4>
							</a>
							<a href="#" class="thumb-menu pr-md-4 text-center">
								<div class="img" style="background-image: url({% static 'images/menu-2.jpg' %});"></div>
								<h4>Australian Organic Beef</h4>
							</a>
							<a href="#" class="thumb-menu pr-md-4 text-center">
								<div class="img" style="background-image: url({% static 'images/menu-3.jpg' %});"></div>
								<h4>Australian Organic Beef</h4>
							</a>
						</div>
						<p><a href="/kitchens" class="btn btn-primary px-4 py-3 mt-3">Order Food</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->


<!-- <section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end" style="background-image: url({% static 'images/about.jpg' %}); position: relative">
				<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
					<span class="ion-ios-play"></span>
				</a>
			</div>
			<div class="col-sm-7 wrap-about py-5 ftco-animate">
				<div class="heading-section mt-5 mb-4">
					<div class="pl-lg-5 ml-md-5">
						<span class="subheading">About</span>
						<h2 class="mb-4">Welcome to Kusina Restaurant</h2>
					</div>
				</div>
				<div class="pl-lg-5 ml-md-5">
					<p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<h3 class="mt-5">Special Recipe</h3>
					<div class="thumb my-4 d-flex">
						<a href="#" class="thumb-menu pr-md-4 text-center">
							<div class="img" style="background-image: url({% static 'images/lunch-4.jpg' %});"></div>
							<h4>Australian Organic Beef</h4>
						</a>
						<a href="#" class="thumb-menu pr-md-4 text-center">
							<div class="img" style="background-image: url({% static 'images/lunch-7.jpg' %});"></div>
							<h4>Australian Organic Beef</h4>
						</a>
						<a href="#" class="thumb-menu pr-md-4 text-center">
							<div class="img" style="background-image: url({% static 'images/lunch-6.jpg' %});"></div>
							<h4>Australian Organic Beef</h4>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- <section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="row d-md-flex align-items-center">
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="18">0</strong>
								<span>Years of Experienced</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="20000">0</strong>
								<span>Happy Customers</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="564">0</strong>
								<span>Finished Projects</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="300">0</strong>
								<span>Working Days</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

 <!-- <section class="ftco-section testimony-section" style="background-image: url({% static 'images/bg_5.jpg' %});"
	data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
				<span class="subheading">Testimony</span>
				<h2 class="mb-4">Happy Customer</h2>
			</div>
		</div>
		<div class="row ftco-animate justify-content-center">
			<div class="col-md-7">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4"
								style="background-image: url({% static 'images/person_1.jpg' %})">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text p-3">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
									and Consonantia, there live the blind texts.</p>
								<p class="name">Arthur Browner</p>
								<span class="position">Customer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4"
								style="background-image: url({% static 'images/person_2.jpg' %})">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text p-3">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
									and Consonantia, there live the blind texts.</p>
								<p class="name">Arthur Browner</p>
								<span class="position">Customer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4"
								style="background-image: url({% static 'images/person_3.jpg' %})">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text p-3">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
									and Consonantia, there live the blind texts.</p>
								<p class="name">Arthur Browner</p>
								<span class="position">Customer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4"
								style="background-image: url({% static 'images/person_4.jpg' %})">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text p-3">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
									and Consonantia, there live the blind texts.</p>
								<p class="name">Arthur Browner</p>
								<span class="position">Customer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4"
								style="background-image: url({% static 'images/person_3.jpg' %})">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text p-3">
								<p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia
									and Consonantia, there live the blind texts.</p>
								<p class="name">Arthur Browner</p>
								<span class="position">Customer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>  -->

<!-- <section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Chef</span>
				<h2 class="mb-4">Our Mater Chef</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img" style="background-image: url({% static 'images/chef-4.jpg' %});"></div>
					<div class="text px-4 pt-4">
						<h3>John Smooth</h3>
						<span class="position mb-2">CEO, Co Founder</span>
						<div class="faded">
							&lt;!&ndash; <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> &ndash;&gt;
							<ul class="ftco-social d-flex">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img" style="background-image: url({% static 'images/chef-2.jpg' %});"></div>
					<div class="text px-4 pt-4">
						<h3>Rebeca Welson</h3>
						<span class="position mb-2">Head Chef</span>
						<div class="faded">
							&lt;!&ndash; <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> &ndash;&gt;
							<ul class="ftco-social d-flex">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img" style="background-image: url({% static 'images/chef-3.jpg' %});"></div>
					<div class="text px-4 pt-4">
						<h3>Kharl Branyt</h3>
						<span class="position mb-2">Chef</span>
						<div class="faded">
							&lt;!&ndash; <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> &ndash;&gt;
							<ul class="ftco-social d-flex">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="staff">
					<div class="img" style="background-image: url({% static 'images/chef-1.jpg' %});"></div>
					<div class="text px-4 pt-4">
						<h3>Luke Simon</h3>
						<span class="position mb-2">Chef</span>
						<div class="faded">
							&lt;!&ndash; <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> &ndash;&gt;
							<ul class="ftco-social d-flex">
								<li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
								<li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<!-- <section class="ftco-section ftco-no-pt ftco-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-5 ftco-animate img img-2" style="background-image: url({% static 'images/bg_6.jpg' %});"></div>
			<div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
				<div class="heading-section ftco-animate mb-5">
					<span class="subheading">Book a Table</span>
					<h2 class="mb-4">Make Reservation</h2>
				</div>
				<form action="#">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Name</label>
								<input type="text" class="form-control" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Email</label>
								<input type="text" class="form-control" placeholder="Your Email">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Phone</label>
								<input type="text" class="form-control" placeholder="Phone">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Phone</label>
								<input type="text" class="form-control" id="book_date" placeholder="Date">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Time</label>
								<input type="text" class="form-control" id="book_time" placeholder="Time">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Person</label>
								<div class="select-wrap one-third">
									<div class="icon"><span class="ion-ios-arrow-down"></span></div>
									<select name="" id="" class="form-control">
										<option value="">Person</option>
										<option value="">1</option>
										<option value="">2</option>
										<option value="">3</option>
										<option value="">4+</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12 mt-3">
							<div class="form-group">
								<input type="submit" value="Make a Reservation" class="btn btn-primary py-3 px-5">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section> -->


{% endblock %}