{% extends 'baseUser.html' %}
{% load static %}

{% block nav %}
<form class="form-inline" role="search" method="get">
	<div class="form-group mx-sm-3 mb-2">
	  <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" id="search" placeholder="Search Kitchen">
	</div>
	<button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
</form>
{% endblock %}


{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Nearby Kitchens</h1>
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Kitchens <i
							class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
	</div>
</section>

<br>


<div class="wrapper container">
	<div class="sidebar w3-card w3-medium">
		<h3>Category</h3>
		<br>
		<ul class="categories">
			<li><a href="#">South Indian</a></li>
			<li><a href="#">North Indian</a></li>
			<li><a href="#">Chinese</a></li>
			<li><a href="#">Italian</a></li>
			<li><a href="#">Bakery</a></li>
			<li><a href="#">Wine</a></li>
		</ul>
	</div>
	<div class="main">
		<div class="row">
			{% if kit_object %}
			{% for kit in kit_object %}
			<div class="col-md-4 ftco-animate">
				<div class="blog-entry">
					<a href="{% url 'menu' kit.0.id %}" class="block-20 imgcont"
						{% if kit.0.status == "Closed" %}
						style="background-image: url({{kit.0.dp.url}});-webkit-filter: grayscale(100%);
						filter: grayscale(100%);pointer-events: none;cursor: default; opacity: 0.5;">
						<div class="centered">Kitchen Closed</div>
						{% else %}
						style="background-image: url({{kit.0.dp.url}});">
						{% endif %}
					</a>
					<div class="text px-4 pt-3 pb-4">
						<h3 class="heading">{{kit.0.kitName}}</h3>
						{{kit.2}} km
						<span class="float-right read">{{kit.0.mode}} ({{kit.0.deliveryTime}} mins.)</span>
						<div class="meta">
							<div><a>{{kit.1}}</a></div>
						</div>
						<p class="clearfix">
							{% if kit.3.ratings__avg != None %}
							<span class="icon-star {% if kit.3.ratings__avg >= 4.0 %}text-success{% elif kit.3.ratings__avg >= 3.0 %}text-warning{% else %}text-danger{% endif %}"> {{kit.3.ratings__avg}}</span>
							{% endif %}
						</p>
						{% if kit.0.acceptAdvcOrders %}
						<hr>
						<span class="text-primary"> Accepts Advance Orders upto 2 Days.</span>
						{% endif %}
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="meta">
				<div><a style="font-size:30px;">No Nearby Kitchens in your area till now, we are looking forward
						to be there soon.</a></div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
<br>

<style>
	.imgcont {
		position: relative;
		text-align: center;
		color: black;
		font-size: larger;
	}
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		width: 100%;
	}
	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	.main {
		width: 70%;
	}

	.sidebar {
		width: 20%;
		height: 20%;
		position: -webkit-sticky;
		position: sticky;
		top: 11%;
		padding: 15px;
	}
</style>



{% endblock %}