{% extends 'base.html' %}
{% load static %}

{% block nav %}
<form class="form-inline" role="search" method="get">
	<div class="form-group mx-sm-3 mb-2">
	  <input type="text" class="form-control" name="search" value="{{ request.GET.search }}" id="search" placeholder="Search Kitchen">
	</div>
	<button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i></button>
</form>
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Nearby Kitchens</h1>
				<p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i
								class="ion-ios-arrow-forward"></i></a></span> <span>Kitchens <i
							class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
	</div>
</section>

<br>
<div class="container">
	<div class="row py-3">
		<div class="col-3 w3-card w3-medium" id="sticky-sidebar">
			<div class="sticky-top sidebar ftco-animate">
				<div class="sidebar-box ftco-animate">
					<br>
					<br>
					<h3>Category</h3>
					<ul class="categories">
						<li><a href="#">South Indian</a></li>
						<li><a href="#">North Indian</a></li>
						<li><a href="#">Chinese</a></li>
						<li><a href="#">Italian</a></li>
						<li><a href="#">Bakery</a></li>
						<li><a href="#">Wine</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col order-2" id="main">
			<div class="container">
				<div class="row">
					{% if kit_object %}
					{% for kit in kit_object %}
					<div class="col-md-4 ftco-animate">
						<div class="blog-entry">
							<a href="{% url 'menu' kit.0.id %}" class="block-20"
								{% if kit.0.status == "Closed" %}
								style="background-image: url({{kit.0.dp.url}});-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
								filter: grayscale(100%);pointer-events: none;cursor: default;"
								{% else %}
								style="background-image: url({{kit.0.dp.url}});"
								{% endif %}>
							</a>
							<div class="text px-4 pt-3 pb-4">
								<h3 class="heading"><a href="#">{{kit.0.kitName}}</a></h3>
								({{kit.1}} km)
								<div class="meta">
									{% if kit.0.acceptAdvcOrders %}<span class="text-success"> Accepts Advance Orders upto 2 Days.</span>{% endif %}
									<div><a href="#">Cakes, Pastries, Cookies, Chocolates, etc.</a></div>
								</div>
								<p class="clearfix">
									<span class="icon-star text-warning"></span>
									<span class="icon-star text-warning"></span>
									<span class="icon-star text-warning"> 3</span>
									<span class="float-right read">Pick Up</span>
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="meta">
						<div><a style="font-size:30px;">No Nearby Kitchens in your area till now, we are looking forward
								to be there soon.</a></div>
					</div>
					{% endif %}
				</div>
				<!-- <div class="row no-gutters my-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>


{% endblock %}