{% extends 'baseUser.html' %}
{% load static %}


{% block content %}

<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css" rel="stylesheet" />
<style>
  #map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
  }

  .mapboxgl-ctrl-logo {
    display: none !important;
  }
</style>


<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');"
  data-stellar-background-ratio="0.5" id="header-section">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">{{ kitchen.kitName }}</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
          <span class="mr-2"><a href="{% url 'kitchens' %}">Kitchens <i class="ion-ios-arrow-forward"></i></a></span>
          <span>{{ kitchen.kitName }}</span>
        </p>
        <p class="breadcrumbs"><span class="mr-2"><a href="#reviews"><span class="icon-star text-warning"
                style='font-size: large;'></span> {{ avgrating.ratings__avg }} ({{ reviews|length }}
              Reviews)</a></span>
        </p>
        <a class="add-fav btn bread">Favourite <i style='{% if favourite %}color: red;{% else %}color: white;{% endif %}'  class="fa fa-heart"></i></a>
        <p class="breadcrumbs">
          {% if kitchen.pureVeg %}
          <span class="mr-2">Pure Veg <i class="fa fa-leaf" style='color: green; font-size: large;'></i></span>
          {% else %}
          <div class="form-check">
            <input type="checkbox" class="form-check-input" class="veg" name="veg" id="veg" {% if vegSelected %}checked{% endif %} onclick="selectVeg(this);">
            <label class="form-check-label bread" for="veg">Veg</label>
          </div>
          {% endif %}
        </p>
        <!-- <input type="checkbox" {% if favourite %}checked{% endif %} class="form-check-input" id="favourite">
        <label class="form-check-label bread" for="favourite"><i class="fa fa-heart"
            style='color: red; font-size: x-large;'></i></label> -->
      </div>
    </div>
  </div>
</section>
<script>
  function selectVeg(value) {
    document.cookie = "veg=" + value.checked + ";Path=/";
    // $("#main").load(" #main > *");
    window.location.reload();
  }
  $(document).on("click", ".add-fav", function (event) {
    $.ajax({
      url: "{% url 'add_to_favourite' kitchen.id %}",

      success: function (data) {
        // $("#header-section").load(" #header-section > *");
        window.location.reload();
      },
    });
  });
</script>
<br>

<!-- Main Menu -->

<div class="wrapper container" id="main">
  <div class="sidebar w3-card w3-medium">
      <h3>Categories</h3>
      <br>
      <ul class="categories">
        {% for cat in categories %}
        <li><a href="#{{ cat.id }}">{{ cat }}</a></li>
        {% endfor %}
      </ul>
  </div>
	<div class="main w3-card">
		<div class="col-12 ftco-animate">
      <div class="container py-3">
        <div class="row justify-content-center mb-1 pb-2">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Specialties</span>
            <h2 class="mb-4">Our Menu</h2>
          </div>
        </div>
        <div class="row">
        {% for cat in categories %}
        <div class="col-md-6 col-lg-12 menu-wrap" id="{{cat.id}}" style="padding-top: 8%;">
          <div class="heading-menu text-center ftco-animate">
            <h3>{{ cat }}</h3>
          </div>
          {% for item in menuitems %}
          {% if item.1 == cat %}
          <div class="menus d-flex ftco-animate {% if item.8 %}outofstock{% endif %}">
            <div class="menu-img img" style="background-image: url({{ item.4.url }});">
            </div>
            <div class="text">
              <div class="d-flex">
                <div class="one-half">
                  <h3>{{ item.0 }}</h3>
                  {% if item.2 == 'veg' %}
                  <img src="https://img.icons8.com/color/20/000000/vegetarian-food-symbol.png" />
                  {% else %}
                  <img src="https://img.icons8.com/color/20/000000/non-vegetarian-food-symbol.png" />
                  {% endif %}
                  <p style="color:tomato;"><span>{{ item.12 }}</span></p>
                  <p><span>{{ item.5 }}</span></p>
                  {% if item.9 != 0 %}
                  <p><span>Minimum Order: {{ item.9 }}</span></p>
                  {% endif %}
                  {% if item.8 %}
                  <p><span class="oosstyle">OUT OF STOCK</span></p>
                  {% endif %}
                </div>
                <div class="one-third">
                  {% if item.6 > 0 %}
                  <b><span class="price">Price: &#8377; {{ item.13 }}</span></b>
                  <p><strike>Mrp: &#8377; {{ item.3 }}</strike><br>  {{ item.6 }}% Off</p>
                  {% else %}
                  <b><span class="price">Mrp: &#8377; {{ item.3 }}</span></b>
                  <br>
                  <br>
                  <br>
                  {% endif %}
                  
                  <div class="btn-group" role="group" aria-label="Basic example">
                    {% if item.10|length == 0 %}
                    <button id="down" type="button" class="btn btn-outline-success" onclick="
                    if(document.querySelector('#quantity{{item.7}}').innerHTML>0){
                      if(document.querySelector('#quantity{{item.7}}').innerHTML=={{item.9}}){
                        handlecounter({{item.7}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)-{{item.9}});
                      }
                      else {
                        handlecounter({{item.7}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)-1);
                      }
                    }"><span class="icon-minus"></span></button>
                    {% else %}
                    <button id="down" type="button" class="btn btn-outline-success" data-toggle="modal"
                      data-target="#id{{ item.7 }}"><span class="icon-minus"></span></button>
                    {% endif %}
                    <button type="button" class="btn btn-default" disabled><span id='quantity{{item.7}}'
                        name='quantity{{item.7}}'> {{item.11}}
                      </span></button>
                    {% if item.10|length == 0 %}
                    <button id="up" type="button" class="btn btn-outline-success" onclick="
                    if(document.querySelector('#quantity{{item.7}}').innerHTML==0 && {{item.9}}>0){
                      handlecounter({{item.7}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)+{{item.9}});
                    }
                    else {
                      handlecounter({{item.7}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)+1);
                    }"><span class="icon-plus"></span></button>
                    {% else %}
                    <button id="up" type="button" class="btn btn-outline-success" data-toggle="modal"
                      data-target="#id{{ item.7 }}"><span class="icon-plus"></span></button>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <hr>
        {% endfor %}
        </div>
      </div>
    </div>
	</div>
</div>
<style>
  .outofstock {
    pointer-events: none;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  .oosstyle{
    color: red;
  }
	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	.main {
		width: 75%;
	}

	.sidebar {
		width: 20%;
		height: 20%;
		position: -webkit-sticky;
		position: sticky;
		top: 8%;
		padding: 15px;
	}
</style>
<br>


<!-- SubItems Modal -->
{% for item in menuitems %}
<div class="modal fade" id="id{{ item.7 }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Choose the Option</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% for sub in item.10 %}
        <div class="menus d-flex ftco-animate">
          <div class="text">
            <div class="d-flex">
              <div class="one-half">
                <h3>{{ sub.1 }}</h3>
                {% if item.6 > 0 %}
                <span class="price">Price: &#8377; {{ sub.4 }}</span>
                <p><strike>Mrp: &#8377; {{ sub.2 }}</strike>  {{ item.6 }}% Off</p>
                {% else %}
                <span class="price">&#8377; {{ sub.2 }}</span>
                {% endif %}
              </div>
              <div class="one-forth">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button id="down" type="button" class="btn btn-outline-success" onclick="
                  if(document.querySelector('#quantity{{sub.0}}').innerHTML>0){
                    if(document.querySelector('#quantity{{sub.0}}').innerHTML=={{item.9}}){
                      handlesubcounter({{item.7}}, {{sub.0}}, parseInt(document.querySelector('#quantity{{sub.0}}').innerHTML)-{{item.9}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)-{{item.9}});
                    }
                    else {
                      handlesubcounter({{item.7}}, {{sub.0}}, parseInt(document.querySelector('#quantity{{sub.0}}').innerHTML)-1, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)-1);
                    }
                }"><span class="icon-minus"></span></button>
                  <button type="button" class="btn btn-default" disabled><span id='quantity{{sub.0}}'
                      name='quantity{{sub.0}}'> {{sub.3}}
                    </span></button>
                  <button id="up" type="button" class="btn btn-outline-success" onclick="
                  if(document.querySelector('#quantity{{sub.0}}').innerHTML==0 && {{item.9}}>0){
                    handlesubcounter({{item.7}}, {{sub.0}}, parseInt(document.querySelector('#quantity{{sub.0}}').innerHTML)+{{item.9}}, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)+{{item.9}});
                  }
                  else {
                    handlesubcounter({{item.7}}, {{sub.0}}, parseInt(document.querySelector('#quantity{{sub.0}}').innerHTML)+1, parseInt(document.querySelector('#quantity{{item.7}}').innerHTML)+1);
                  }
                  "><span class="icon-plus"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script type="text/javascript">
  var cart = [];

  function handlecounter(id, quant) {
    var x = getCookie('kit');
    if (x === 'NA' || parseInt(x) === {{ kitchen.id }}) {
    document.getElementById('quantity' + id).innerHTML = quant;
    document.cookie = id + "=" + quant + ";Path=/";
    document.cookie = "kit={{kitchen.id}};Path=/";
    $("#ftco-navbar").load(" #ftco-navbar > *");
  }
    else {
    if (confirm("All Items currently present in the Cart will be removed.")) {
      deleteAllCookies()
      document.getElementById('quantity' + id).innerHTML = quant;
      document.cookie = id + "=" + quant + ";Path=/";
      document.cookie = "kit={{kitchen.id}};Path=/";
      $("#ftco-navbar").load(" #ftco-navbar > *");
    }
    else {
      txt = "You pressed Cancel!";
    }
  }
  };

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "NA";
  }

  function deleteAllCookies() {
    document.cookie.split(";").forEach(function (c) {
      var key = c.replace(/^ +/, "").split("=")[0]
      if (key != "lon" && key != "lat") {
        document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
      }
    });
  }

  function handlesubcounter(id, subid, quant, totalquant) {
    var x = getCookie('kit');
    if (x === 'NA' || parseInt(x) === {{ kitchen.id }}) {
      document.getElementById('quantity' + subid).innerHTML = quant;
      document.getElementById('quantity' + id).innerHTML = totalquant;
      document.cookie = id + "-" + subid + "=" + quant + ";Path=/";
      document.cookie = "kit={{kitchen.id}};Path=/";
      $("#ftco-navbar").load(" #ftco-navbar > *");
    }
    else {
      if (confirm("All Items currently present in the Cart will be removed.")) {
        deleteAllCookies()
        document.getElementById('quantity' + subid).innerHTML = quant;
        document.getElementById('quantity' + id).innerHTML = totalquant;
        document.cookie = id + "-" + subid + "=" + quant + ";Path=/";
        document.cookie = "kit={{kitchen.id}};Path=/";
        $("#ftco-navbar").load(" #ftco-navbar > *");
      }
      else {
        txt = "You pressed Cancel!";
      }
    }
  };
</script>


<!-- Video Section -->
<section class="ftco-section ftco-wrap-about ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-sm-5 img img-2 d-flex align-items-center justify-content-center justify-content-md-end"
        style="background-image: url({% static 'images/about.jpg' %}); position: relative">
        <a href="https://vimeo.com/45830194"
          class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
          <span class="ion-ios-play"></span>
        </a>
      </div>
      <div class="col-sm-7 wrap-about py-5 ftco-animate">
        <div class="heading-section mt-5 mb-4">
          <div class="pl-lg-5 ml-md-5">
            <span class="subheading">About</span>
            <h2 class="mb-4">Welcome to Kusina Restaurant</h2>
          </div>
        </div>
        <div class="pl-lg-5 ml-md-5">
          <p>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have
            been rewritten a thousand times and everything that was left from its origin would be the word "and" and the
            Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by
            their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted
            parts of sentences fly into your mouth.</p>
          <h3 class="mt-5">Situated at :</h3>
          <div class="thumb my-4 d-flex">
            <div id="map"></div>
            <script>
              mapboxgl.accessToken = 'pk.eyJ1IjoiamFpbnNodWJoYW0iLCJhIjoiY2tkcG5lYzgyMjNteTMwbXIzYjkxaWtjayJ9.mV7uussgvFw4MXHVyMkIBg';
              var marker1 = new mapboxgl.Marker({ "color": "#b40219" })

              var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [{{ kitchen.longitude }}, {{ kitchen.latitude }}], // starting position
              zoom: 14, // starting zoom
                attributionControl: false,
              });

              //for full screen
              map.addControl(new mapboxgl.FullscreenControl());

              // Add geolocate control to the map.
              var geolocate = new mapboxgl.GeolocateControl
                ({
                  positionOptions: {
                    enableHighAccuracy: true,
                    watchPosition: true
                  },
                  trackUserLocation: false,
                  showUserLocation: false,
                })
              map.addControl(geolocate);

              // Listen to geolocate control
              geolocate.on('geolocate', function (ev) {
                marker1.setLngLat([ev.coords.longitude, ev.coords.latitude])
                  .addTo(map);
              });

              var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(
                '<b>{{ kitchen.kitName }}</b>' +
                '<a class="block-20" style="background-image: url({{kitchen.dp.url}}); width:100px; height:100px;">'
              );
              new mapboxgl.Marker()
                .setLngLat([{{ kitchen.longitude }}, {{ kitchen.latitude }}])
                .setPopup(popup)
                .addTo(map);
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<br>
<br>

<!-- Reviews Section -->
<section id="reviews" class="ftco-section testimony-section"
  style="background-image: url({% static 'images/bg_5.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">Happy Customer</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-4">
        <div class="carousel-testimony owl-carousel ftco-owl">
          {% for review in reviews %}
          <div class="item">
            <div class="testimony-wrap text-center py-4 pb-5">
              <div class="user-img mb-4">
                {% for i in "x"|rjust:review.ratings %}
                <span class="icon-star text-warning"></span>
                {% endfor %}
              </div>
              <div class="text p-3">
                <p class="mb-4">{{ review.reviews }}</p>
                <p class="name">{{ review.user.username }}</p>
                <span class="position">Customer</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}