<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<!------- websocket for chat purpose ------->
<script>
    $(function () {  
        $(document).keydown(function (e) {  
            return (e.which || e.keyCode) != 116;  
        });  
    }); 
    var loc = window.location
    var wsStart = "ws://"
    if(loc.protocol == 'https:'){
        wsStart = "wss://"
    }
    // var endpoint = wsStart + loc.host + '/notify/{{kitchen.user_id}}/'
    var endpoint = wsStart + loc.host + '/notify/{{user.username}}/'

    var socket = new ReconnectingWebSocket(endpoint)

    socket.onmessage = function(e){
        console.log("message", e)
        var data = JSON.parse(e.data);
        if(data.orderId != undefined){
            setTimeout(function() {
                $('#loading').hide();
                var data1 = {
                    "msgtocust": "Kitchen Not Responding",
                    "custid": "{{ user.id }}",
                    "status": "Cancelled",
                    "orderid": data.orderId,
                }
                socket.send(JSON.stringify(data1))
            }, 60000);
        }
        else{
            $('#loading').hide();
            var status = data.status
            var msg = data.msgtocust
            var orderid = data.orderid

            if(status == "Placed" || status == "Accepted"){
                deleteAllCookies()
                window.location.href = "/orderStatus/"+data.orderid;
            }
            else if(status == "Packed" || status == "Preparing" || status == "Dispatched"){
                window.location.href = "/orderStatus/"+data.orderid;
            }
            else{
                if(window.location.pathname.split("/")[1] == "orderStatus") {
                    window.location.href = "/orders/";
                }
                else {
                    window.location.reload()
                }
            }
            alert(status)
        }
    }
    socket.onopen = function(e){
        console.log("open", e)
        $(document).on("click", ".cancel", function (event) {
            var orderId = $(this).data('id');
            var data = {
                    "msgtocust": "Order Cancelled By User.",
                    "custid": "{{ user.id }}",
                    "status": "Cancelled",
                    "orderid": orderId,
                }
            socket.send(JSON.stringify(data))
            window.location.href = "/kitchens/";
        })

        $("#checkoutform").submit(function(event){
            event.preventDefault()
            
            $.ajax({
                url: '{% url 'cart' %}',
                type: 'GET',
                data: 'websocket',

                success: function (data) {
                    sendResponse(data.items)
                },

            });
        });
    }
    socket.onerror = function(e){
        console.log("error", e)
    }
    socket.onclose = function(e){
        console.log("close", e)
    }

    function sendResponse(items) {
        console.log(items)
        var items = items;
        var otherdetails = {
            "kituserid" : "{{kitchen.user_id}}",
            "kitid" : "{{kitchen.id}}",
            "message" : $("#message").val(),
            "scheduledDate" : $("#scheduledorder").val(),
            "subTotal": $("#subtotal").val(),
            "total": $("#total").val(),
            "address": $('input[name=address]:checked', '#checkoutform').val(),
            "mode": $('#mode :selected').text(),
            "deliveryCharge": $("#deliverycharge").val(),
            "paymentOption": $('input[name=paymentOption]:checked', '#checkoutform').val(),
            "coupDiscount": $("#coupDiscount").val(),
            "kitDiscount": $("#kitDiscount").val(),
            "couponId": $("#couponId").val(),
        }
        $('#loading').show();
        console.log(items, otherdetails)
        socket.send(JSON.stringify({"items":items, "otherdetails": otherdetails}))
    }

    function deleteAllCookies() {
        document.cookie.split(";").forEach(function (c) { 
            var key = c.replace(/^ +/, "").split("=")[0]
            if (key != "lon" && key != "lat") {
                document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); 
            }
        });
    }
    
</script>