{% extends 'baseKit.html' %}
{% load static %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Register</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Register <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


<div class="container">
    <br>
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <br>
            {% if form.non_field_errors %}
                <div class="col-sm-offset-2 col-sm-12">
                    <span class="text-danger large">{{ form.non_field_errors }}</span>
                </div>
            {% endif %}
            {% if error_message %}
            <div class="col-sm-offset-2 col-sm-12">
                <span class="text-danger large">{{ error_message }}</span>
            </div>
            {% endif %}
            <br>
            <form method="post" role="form" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.username.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    {{form.username}}
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.first_name.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    {{form.first_name}}
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.last_name.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    {{form.last_name}}
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.email.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    {{form.email}}
                </div> <!-- form-group// -->
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.phone.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>
                    {{form.phone}}
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.password.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{form.password}}
                </div>
                <div class="form-group input-group">
                    <div class="col-sm-offset-2 col-sm-12">
                        <span class="text-danger small">{{ form.rpassword.errors }}</span>
                    </div>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    {{form.rpassword}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                </div>
                <p class="text-center">Have an account? <a href="{% url 'kitchenLogin' %}">Log In</a> </p>
            </form>
        </article>
    </div> <!-- card.// -->

</div>
<script>
    function onlyNumberKey(evt) { 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    } 
</script>

<br><br>

<style>
    .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
</style>

{% endblock %}