<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<!-- Kitchen Notification Modal -->
<form id="orderresponse" method="post" role="form" enctype="multipart/form-data">
    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="kitnotification" tabindex="-1"
        role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                </div>
                <div class="modal-body">

                    <span id="items">
                    </span>
                    <input type="hidden" name="custid" id="custid" />
                    <input type="hidden" name="orderid" id="orderid" />
                    <input type="text" name="distance" id="distance" />
                    <input type="text" name="paymentOption" id="paymentOption" />
                    <input type="text" name="scheduledDate" id="scheduledDate" />
                    <input type="text" name="msgtocust" id="msgtocust" />
                    <input type="text" name="total" id="total" />
                    <span id="deliveryadd"></span>
                    <br>
                    <div class="progress" style="height: 4px;">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="reject btn btn-primary" data-dismiss="modal">Reject Order</button>
                    <button type="button" class="confirm btn btn-success" data-dismiss="modal">Confirm Order</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $(".progress-bar").animate({
            width: "100%"
        }, 60000);
    });
    $(function () {  
        $(document).keydown(function (e) {  
            return (e.which || e.keyCode) != 116;  
        });  
    }); 
    var loc = window.location
    var wsStart = "ws://"
    if (loc.protocol == 'https:') {
        wsStart = "wss://"
    }
    var endpoint = wsStart + loc.host + '/notify/{{user.username}}/'

    var socket = new ReconnectingWebSocket(endpoint)

    socket.onmessage = function (e) {
        console.log("message", e)
        $(".modal-body #deliveryadd").html('')
        $(".modal-body #items").html('')
        var data = JSON.parse(e.data);
        var items = data.items
        var otherdetails = data.otherdetails
        items.forEach(element => {
            $(".modal-body #items").append(element.itemName);
        });
        $(".modal-body #deliveryadd").append(data.deliveryadd);
        $(".modal-body #custid").val(data.custid);
        $(".modal-body #distance").val(data.distance);
        $(".modal-body #paymentOption").val(data.paymentOption);
        $(".modal-body #orderid").val(data.orderid);
        $(".modal-body #scheduledDate").val(data.scheduledDate);
        $(".modal-body #total").val(data.total);
        $("#kitnotification").modal("show");
        setTimeout(function() {
            window.location.reload();
        }, 60000);
    }

    socket.onopen = function (e) {
        console.log("open", e)
        $(document).on("click", ".confirm", function (event) {
            if($("#paymentOption").val() == "Advance Payment"){
                var data = {
                    "msgtocust": $("#msgtocust").val(),
                    "custid": $("#custid").val(),
                    "status": "Accepted",
                    "orderid": $("#orderid").val(),
                }
            }
            else{
                var data = {
                    "msgtocust": $("#msgtocust").val(),
                    "custid": $("#custid").val(),
                    "status": "Placed",
                    "orderid": $("#orderid").val(),
                }
            }
            console.log(data)
            socket.send(JSON.stringify(data))
            window.location.reload();
        })
        $(document).on("click", ".reject", function (event) {
            console.log(event)
            var data = {
                "msgtocust": $("#msgtocust").val(),
                "custid": $("#custid").val(),
                "status": "Rejected",
                "orderid": $("#orderid").val(),
            }
            console.log(data)
            socket.send(JSON.stringify(data))
            window.location.reload();
        })
        $(document).on("click", ".setstatus", function (event) {
            console.log(event)
            var orderId = $(this).data('id');
            var amountPaid = $("#amountpaid"+orderId).val();
            var status = document.getElementById('status'+orderId).value;
            var data = {
                "msgtocust": $("#msgtocust"+orderId).val(),
                "custid": $("#custid"+orderId).val(),
                "status": status,
                "orderid": orderId,
                "amountPaid": amountPaid,
            }
            console.log(data)
            // $("#ftco-navbar").load(" #ftco-navbar > *");
            socket.send(JSON.stringify(data));
            window.location.reload();
        })
    }

    socket.onerror = function (e) {
        console.log("error", e)
        // console.log(JSON.parse(e.data))
    }

    socket.onclose = function (e) {
        console.log("close", e)
    }
</script>