{% extends 'baseKit.html' %}
{% load static %}

{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Manage Your Orders</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span>
                    <span class="mr-2"><a href="/kitchens">Kitchens <i class="ion-ios-arrow-forward"></i></a></span>
                    <span>Menu<i class="ion-ios-arrow-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>
<br>

<section>
    <div class="container-fluid">
        <a class="btn btn-outline-info" href="{% url 'orderHistory' %}">Order History</a>
        <br>
        <br>
        
        <div class="accordion" id="accordionExample">
            {% for day in days %}
            <div class="card">
                <div class="card-header" id="heading{{ day.day }}">
                    <h2 class="mb-0">
                        <button class="btn btn-block text-center collapsed" type="button" data-toggle="collapse"
                            data-target="#collapse{{ day.day }}" aria-expanded="true"
                            aria-controls="collapse{{ day.day }}">
                            <h4>{% if day == days.1 %}Today's Orders{% else %}{{ day }}{% endif %}</h4>
                        </button>
                    </h2>
                </div>

                <div id="collapse{{ day.day }}" class="collapse {% if day == days.1 %}show{% endif %}"
                    aria-labelledby="heading{{ day.day }}" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                            <thead class="table-success">
                                <tr>
                                    <th class="text-center">
                                        Order ID
                                    </th>
                                    <th class="text-center">
                                        Placed On
                                    </th>
                                    <th class="text-center">
                                        Scheduled On
                                    </th>
                                    <th class="text-center">
                                        Customer
                                    </th>
                                    <th class="text-center">
                                        Items
                                    </th>
                                    <th class="text-center">
                                        Customer's Message
                                    </th>
                                    <th class="text-center">
                                        Mode
                                    </th>
                                    <th class="text-center">
                                        Phone & Address
                                    </th>
                                    <th class="text-center">
                                        Total Amount
                                    </th>
                                    <th class="text-center">
                                        Paid Amount (&#8377;)
                                    </th>
                                    <th class="text-center">
                                        Balance Amount
                                    </th>
                                    <th class="text-center">
                                        Status
                                    </th>
                                    <th class="text-center">
                                        Message to Customer
                                    </th>
                                    <th class="text-center">
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% csrf_token %}
                                {% for order in orders %}
                                    {% if order.scheduled_order.date == day %}
                                    <tr>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.created_at }}</td>
                                            <td><b>{{ order.scheduled_order }}</b></td>
                                            <td><h5><b>{{ order.customer }}</b></h5></td>
                                            <td>
                                                {% for item in order.itemswithquantity %}
                                                {{ item }}<br>
                                                {% endfor %}
                                            </td>
                                            <td>{{ order.message }}</td>
                                            <td>{{ order.mode }}</td>
                                            <td>+91 {{ order.customer.phone }},<br>{{ order.delivery_addr }} &nbsp; ({{ order.dist_from_kit }} km)</td>
                                            <td>&#8377; {{ order.total_amount }}</td>
                                            <td>
                                                {% if order.status == "Cancelled" or order.status == "Rejected" %}
                                                {{ order.amount_paid }}
                                                {% else %}
                                                <input type="integer" id="amountpaid{{order.id}}" name="amountpaid{{order.id}}" value="{{ order.amount_paid }}" size=5 onkeypress="return onlyNumberKey(event)" >
                                                {% endif %}
                                            </td>
                                            <td><h4>&#8377; {{ order.balance }}</h4></td>
                                            <td>
                                                {% if order.status == "Cancelled" or order.status == "Rejected" %}
                                                {{ order.status }}
                                                {% else %}
                                                <select name="status{{order.id}}" id="status{{order.id}}">
                                                    {% if order.mode == "Delivery" %}
                                                        <option value="Waiting" {% if order.status == "Waiting" %} selected {% endif %}>Waiting
                                                        </option>
                                                        {% if order.paymentOption == "Advance Payment" %}
                                                        <option value="Accepted" {% if order.status == "Accepted" %} selected {% endif %}>Accepted
                                                        </option>
                                                        {% endif %}
                                                        <option value="Placed" {% if order.status == "Placed" %} selected {% endif %}>Placed
                                                        </option>
                                                        <option value="Preparing" {% if order.status == "Preparing" %} selected {% endif %}>Preparing
                                                        </option>
                                                        <option value="Packed" {% if order.status == "Packed" %} selected {% endif %}>Packed
                                                        </option>
                                                        <option value="Dispatched" {% if order.status == "Dispatched" %} selected {% endif %}>
                                                            Dispatched</option>
                                                        <option value="Delivered" {% if order.status == "Delivered" %} selected {% endif %}>
                                                            Delivered</option>
                                                        <option value="Rejected">Rejected</option>
                                                    {% else %}
                                                        <option value="Waiting" {% if order.status == "Waiting" %} selected {% endif %}>Waiting
                                                        </option>
                                                        {% if order.paymentOption == "Advance Payment" %}
                                                        <option value="Accepted" {% if order.status == "Accepted" %} selected {% endif %}>Accepted
                                                        </option>
                                                        {% endif %}
                                                        <option value="Placed" {% if order.status == "Placed" %} selected {% endif %}>Placed
                                                        </option>
                                                        <option value="Preparing" {% if order.status == "Preparing" %} selected {% endif %}>Preparing
                                                        </option>
                                                        <option value="Packed" {% if order.status == "Packed" %} selected {% endif %}>Packed
                                                        </option>
                                                        <option value="Picked" {% if order.status == "Picked" %} selected {% endif %}>Picked
                                                        </option>
                                                        <option value="Rejected">Rejected</option>
                                                    {% endif %}
                                                </select>
                                                {% endif %}
                                                <br><br>
                                                {% if order.status == "Delivered" or order.status == "Picked" or order.status == "Rejected" %}
                                                {{ order.completed_at }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if order.status == "Cancelled" or order.status == "Rejected" %}
                                                {{ order.msgtocust }}
                                                {% else %}
                                                <textarea id="msgtocust{{order.id}}" name="msgtocust{{order.id}}" rows="2" cols="20">{{ order.msgtocust }}</textarea></td>
                                                {% endif %}
                                            <td>
                                                <input type="hidden" name="custid{{order.id}}" id="custid{{order.id}}" value="{{ order.customer.id }}" />
                                                <button data-id="{{order.id}}" type="button" class="setstatus btn btn-block btn-sm
                                                    {% if order.status == "Waiting" or order.status == "Accepted" %}btn-warning" {% elif order.status == "Rejected" %}btn-danger" disabled {% elif order.status == "Delivered" or order.status == "Picked" %}btn-light" {% elif order.status == "Cancelled" %}btn-dark" disabled {% else %}btn-success" {% endif %}>Set Status</button>
                                                <button type="button" class="couponModal btn btn-outline-warning btn-block btn-sm" data-id="{{order.id}}"
                                                    data-toggle="modal">Generate Coupon</button>
                                            </td>
                                        </form>
                                    </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<br>
<script>
    function onlyNumberKey(evt) { 
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
            return false; 
        return true; 
    }

    $(document).on("click", ".couponModal", function () {
        var orderId = $(this).data('id');
        $.ajax({
            url: '{% url 'createCoupon' %}',
            type: 'GET',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },

            success: function (data) {
                console.log(data)
                $("#couponModal #fields").html(data)
            },
        });
        $("#couponModal #orderId").val(orderId);
        $("#couponModal").modal("show");
    })
</script>


<!-- coupon modal -->
<div class="modal fade" id="couponModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" role="form" id="couponForm" enctype="multipart/form-data">
                <input type="text" class="form-control" id="orderId" name="orderId" hidden>
                <div id="fields">

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).on("click", ".send-coupon", function (event) {
            $.ajax({
                url: '{% url 'createCoupon' %}',
                type: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: $('#couponForm').serialize(),
                
                success: function (data) {
                    if (data.success_message) {
                        alert(data.success_message)
                        $("#couponModal").modal("hide");
                    }
                },
            });
        });
    });
</script>


{% include "notificationModal.html" %}
{% endblock %}