{% csrf_token %}
<div class="modal-header">
    <h5 class="modal-title">Coupon Code - <b>{{code}}</b></h5>
    <input type="text" class="form-control" id="code" name="code" value="{{code}}" hidden>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    
    <div class="form-group">
        <label for="discount" class="col-form-label">Enter Discount* ( % )</label>
        <input type="text" class="form-control" id="discount" name="discount" maxlength="2"
            onkeypress="return onlyNumberKey(event)" required>
    </div>
    <div class="form-group">
        <label for="validity" class="col-form-label">Enter Validity* ( No. of days )</label>
        <input type="text" class="form-control" id="validity" name="validity" maxlength="3"
            onkeypress="return onlyNumberKey(event)" required>
    </div>
    <div class="form-group">
        <label for="max" class="col-form-label">Enter Maximum Discount* ( &#8377; )</label>
        <input type="text" class="form-control" id="max" name="max" maxlength="3"
            onkeypress="return onlyNumberKey(event)" required>
    </div>
    <div class="form-group">
        <label for="desc" class="col-form-label">Description</label>
        <textarea name="desc" id="desc" cols="20" rows="4" class="form-control" maxlength="100"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    <button type="submit" class="send-coupon btn btn-success">Send Coupon</button>
</div>
